/*------------------General-----------------------*/
/*------------ubicación Iconos Footer------------*/
.imgicono {width: 20px; height: 20px;}

.logo{
    width: 60px;
    height: 60px;
  }

 .bandera{
  height: 35px;
  width: 45px;
 }

/*------------------Index-----------------------*/
/*------------------Carrito-----------------------*/
/*------------------Catalogo-----------------------*/





